/* Place CSS styles here */
body {
    color: rgb(28, 1, 20);
    background-color:rgb(246, 190, 213);
    font-family: "Kadwa", serif; 
    text-align: center;
  
}

p {color: rgb(76, 2, 47);}

.ingredients{
    padding-left: 30px;
    text-align: left;
   display:inline-block
   
}
header{
    color: rgb(66, 9, 81);
    font-family: 'Courier New', Courier, monospace;
}